.header {
  background-color: var(--green);
  @include adaptiveFull('padding-top', 28, 28, 28);
  @include adaptiveFull('padding-bottom', 28, 28, 28);
  position: sticky;
  top: 0;
  z-index: 10;
  transition: $trans-default;

  .container {
    display: flex;
    align-items: center;
  }

  &--mini {
    top: -140px;
    
    .header__logo {
      display: none;
    }
  }

  &--white {
    background-color: var(--white);
  }
}
.header__logo {
  @include vp-1023 {
    display: none;
  }
}
.header__logo-img {
}
.header__menu {
  margin-left: auto;
  position: relative;

  @include vp-767 {
    margin-left: 0;
    margin-right: auto;
  }
}
.header__humburger {
  margin-right: 20px;
  flex-direction: column;

  &::before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--black);
    margin-bottom: 8px;
    transition: $trans-default;
  }

  &::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--black);
    transition: $trans-default;
  }

  .is-active & {
    box-shadow: 0px 0px 0px 0px #000;

    &::before {
      margin-bottom: 0;
      transform: rotate(-45deg) translateX(-5%);
    }

    &::after {
      transform: rotate(45deg) translateX(-5%);
    }
  }
}
.header__nav {
  position: absolute;
  bottom: -15px;
  transform: translateY(95%);
  opacity: 0;
  pointer-events: none;
  transition: $trans-default;

  .is-active & {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(100%);
  }
}
.header__nav-list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 30px;
  border: 2px solid var(--black, #1D1D1B);
  background: var(--blue, #84DFFF);
  padding: 20px;
  column-gap: 30px;
  row-gap: 15px;
}
.header__nav-item {
}
.header__nav-link {
  @include adaptiveFull('font-size', 18, 18, 14);
  font-weight: 500;
  transition: $trans-default;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    margin-right: 2px;
    width: 20px;
    height: 20px;
    transition: $trans-default;
    background-image: url('../img/content/arrow.svg');
    background-size: cover;
  }

  @include hover-focus {
    &::before {
      transform: rotate(45deg);
    }
  }
}
.header__help {
}
