.news {
  @include section-paddings;

  &--more {
    .news__item {
      &:nth-child(n + 7) {
        display: grid;
      }
    }

    .news__more {
      display: none;
    }
  }
}
.news__title {
}
.news__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiveFull('gap', 30, 10, 10);

  @include vp-1279 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.news__item {
  border-radius: 20px;
  border: 2px solid var(--black, #1D1D1B);
  padding: 30px 27px 36px;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1.85fr;
  background-color: var(--white);

  &:nth-child(n + 7) {
    display: none;
  }

  @include vp-1365 {
    grid-template-columns: auto;
  }

  @include vp-1279 {
    min-width: 344px;
  }

  @include vp-767 {
    padding: 20px;
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.news__item-img {
  border-radius: 16px;
  grid-row: span 2;
  height: 100%;
  width: 100%;
  object-fit: cover;

  @include vp-1365 {
    grid-row: auto;
    order: 1;
    @include adaptiveFull('margin-bottom', 20, 20, 15);
    height: auto;
  }
}
.news__item-title {
  margin-bottom: 13px;

  @include vp-1365 {
    order: 0;
  }
}
.news__item-description {
  line-height: 140%; 

  @include vp-1365 {
    order: 2;
    margin-bottom: 24px;
  }
}
.news__item-divnk {
  grid-column: span 2;
  margin-top: 24px;
  width: 100%;

  @include vp-1365 {
    grid-column: auto;
    order: 3;
    margin: auto 0 0;
  }
}
.news__more {
  color: var(--dark-purple, #6F4CCE);
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: auto;
  display: flex;
}