<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <img src="img/content/about-decor-1.png" alt="" class="about__decor" width="367" height="383">
      <img src="img/content/about-decor-2.png" alt="" class="about__decor" width="261" height="261">
      <h2 class="about__title title-h2">О фонде</h2>
      <p class="about__description text-norm">
        «Пари и побеждай» — это пространство, где сила духа превосходит условия. Мы создаём среду, где начинается путь героя, столкнувшегося с серьёзным вызовом.<br>
        Спорт делает нас командой, которая вместе<br> может помогать людям. 
      </p>
      <a href="#" class="about__link btn btn--with-arrow btn--white">Подробнее</a>
    </div>
  </div>
</section>