<section class="ambassadors">
  <div class="container">
    <div class="ambassadors__slider ambassadors__slider--main swiper">
      <div class="swiper-wrapper">
        <div class="ambassadors__slide swiper-slide">
          <div class="ambassadors__slide-photo-wrapper">
            <img src="img/content/ambassadors-photo-1.png" alt="" class="ambassadors__slide-photo" width="433" height="480">
          </div>
          <h3 class="ambassadors__slide-name">Михаил Сергачев</h3>
          <p class="ambassadors__slide-description">Звезда НХЛ - статус по жизни</p>
        </div>
        <div class="ambassadors__slide swiper-slide">
          <div class="ambassadors__slide-photo-wrapper">
            <img src="img/content/ambassadors-photo-1.png" alt="" class="ambassadors__slide-photo" width="433" height="480">
          </div>
          <h3 class="ambassadors__slide-name">Михаил Сергачев</h3>
          <p class="ambassadors__slide-description">Звезда НХЛ - статус по жизни</p>
        </div>
        <div class="ambassadors__slide swiper-slide">
          <div class="ambassadors__slide-photo-wrapper">
            <img src="img/content/ambassadors-photo-1.png" alt="" class="ambassadors__slide-photo" width="433" height="480">
          </div>
          <h3 class="ambassadors__slide-name">Михаил Сергачев</h3>
          <p class="ambassadors__slide-description">Звезда НХЛ - статус по жизни</p>
        </div>
        <div class="ambassadors__slide swiper-slide">
          <div class="ambassadors__slide-photo-wrapper">
            <img src="img/content/ambassadors-photo-1.png" alt="" class="ambassadors__slide-photo" width="433" height="480">
          </div>
          <h3 class="ambassadors__slide-name">Михаил Сергачев</h3>
          <p class="ambassadors__slide-description">Звезда НХЛ - статус по жизни</p>
        </div>
      </div>
    </div>
    <div class="ambassadors__wrapper">
      <h2 class="ambassadors__title title-h2">амбассадоры программы</h2>
      <p class="ambassadors__description text-norm">
        Lorem ipsum dolor sit amet consectetur. Et imperdiet magna tristique ante sapien nibh et lectus nte sapien nibh et lectus.
      </p>
      <div class="ambassadors__navigation">
        <button class="ambassadors__navigation-btn ambassadors__navigation-btn--prev">
          <img src="img/content/swiper-btn-arrow.svg" alt="" class="ambassadors__navigation-btn-arrow" width="56" height="56">
        </button>
        <button class="ambassadors__navigation-btn ambassadors__navigation-btn--next">
          <img src="img/content/swiper-btn-arrow.svg" alt="" class="ambassadors__navigation-btn-arrow" width="56" height="56">
        </button>
      </div>
    </div>
    <div class="ambassadors__slider swiper">
      <div class="swiper-wrapper">
        <div class="ambassadors__slide swiper-slide">
          <div class="ambassadors__slide-photo-wrapper">
            <img src="img/content/ambassadors-photo-1.png" alt="" class="ambassadors__slide-photo" width="317" height="343">
          </div>
          <h3 class="ambassadors__slide-name">Михаил Сергачев</h3>
          <p class="ambassadors__slide-description">Звезда НХЛ - статус по жизни</p>
        </div>
        <div class="ambassadors__slide swiper-slide">
          <div class="ambassadors__slide-photo-wrapper">
            <img src="img/content/ambassadors-photo-1.png" alt="" class="ambassadors__slide-photo" width="317" height="343">
          </div>
          <h3 class="ambassadors__slide-name">Михаил Сергачев</h3>
          <p class="ambassadors__slide-description">Звезда НХЛ - статус по жизни</p>
        </div>
        <div class="ambassadors__slide swiper-slide">
          <div class="ambassadors__slide-photo-wrapper">
            <img src="img/content/ambassadors-photo-1.png" alt="" class="ambassadors__slide-photo" width="317" height="343">
          </div>
          <h3 class="ambassadors__slide-name">Михаил Сергачев</h3>
          <p class="ambassadors__slide-description">Звезда НХЛ - статус по жизни</p>
        </div>
        <div class="ambassadors__slide swiper-slide">
          <div class="ambassadors__slide-photo-wrapper">
            <img src="img/content/ambassadors-photo-1.png" alt="" class="ambassadors__slide-photo" width="317" height="343">
          </div>
          <h3 class="ambassadors__slide-name">Михаил Сергачев</h3>
          <p class="ambassadors__slide-description">Звезда НХЛ - статус по жизни</p>
        </div>
      </div>
    </div>
    <img src="img/content/ambassadors-decor.png" alt="" class="ambassadors__decor" width="552" height="486">
  </div>
</section>