<section class="banner">
  <div class="container">
    <div class="banner__wrapper">
      <div class="banner__text">
        <h1 class="banner__title title-h1">о фонде</h1>
        <p class="banner__description">Наш фонд - это пространство, где сила духа превосходит условия. Мы создаем среду, где начинается путь героя, столкнувшегося с серьезным вызовом.</p>
      </div>
      <img src="img/content/banner-img.png" alt="" class="banner__img" width="1172" height="586">
    </div>
  </div>
</section>