<section class="directions">
  <div class="container">
    <div class="directions__wrapper">
      <h2 class="directions__title title-h2">направления<br> работы</h2>
      <img src="img/content/directions-decor.png" alt="" class="directions__decor" width="602" height="433">
    </div>
    <div class="directions__cards" data-accordion="parent" data-single>
      <div class="directions__card is-active" data-accordion="element">
        <img src="img/content/card-arrow.svg" alt="" class="directions__card-arrow" width="30" height="30">
        <div class="directions__card-wrapper">
          <h3 class="directions__card-title title-h4" data-accordion="button">МОДЕРНИЗИРУЕМ СПОРТИВНЫЕ ОБЪЕКТЫ</h3>
          <p class="directions__card-description" data-accordion="content">Строим новые и обновляем существующие. Это позволяет обеспечить современные условия для занятий спортом в разных регионах нашей страны.</p>
        </div>
      </div>
      <div class="directions__card" data-accordion="element">
        <img src="img/content/card-arrow.svg" alt="" class="directions__card-arrow" width="30" height="30">
        <div class="directions__card-wrapper">
          <h3 class="directions__card-title title-h4" data-accordion="button">ПОДДЕРЖИВАЕМ СПОРТИВНЫЕ КЛУБЫ</h3>
          <p class="directions__card-description" data-accordion="content">Строим новые и обновляем существующие. Это позволяет обеспечить современные условия для занятий спортом в разных регионах нашей страны.</p>
        </div>
      </div>
      <div class="directions__card" data-accordion="element">
        <img src="img/content/card-arrow.svg" alt="" class="directions__card-arrow" width="30" height="30">
        <div class="directions__card-wrapper">
          <h3 class="directions__card-title title-h4" data-accordion="button">ПОВЫШАЕМ ИНКЛЮЗИВНОСТЬ И ДОСТУПНОСТЬ</h3>
          <p class="directions__card-description" data-accordion="content">Строим новые и обновляем существующие. Это позволяет обеспечить современные условия для занятий спортом в разных регионах нашей страны.</p>
        </div>
      </div>
      <div class="directions__card" data-accordion="element">
        <img src="img/content/card-arrow.svg" alt="" class="directions__card-arrow" width="30" height="30">
        <div class="directions__card-wrapper">
          <h3 class="directions__card-title title-h4" data-accordion="button">РАЗВИВАЕМ СПОРТ И ЗДОРОВЫЙ ОБРАЗ ЖИЗНИ</h3>
          <p class="directions__card-description" data-accordion="content">Строим новые и обновляем существующие. Это позволяет обеспечить современные условия для занятий спортом в разных регионах нашей страны.</p>
        </div>
      </div>
    </div>
  </div>
</section>