<section class="documents">
  <div class="container">
    <div class="documents__item">
      <h3 class="documents__item-title title-h33">Уставные документы</h3>
      <ul class="documents__item-list">
        <li class="documents__item-list-item">
          <a href="#" class="documents__item-list-item-link" target="_blank">
            <div class="documents__item-list-item-name">Свидетельство о государственной регистрации</div>
            <div class="documents__item-list-item-format btn btn--without-shadow btn--white">
              <div class="documents__item-list-item-format-name">PDF</div>
              <img src="img/content/documents-icon.png" alt="" class="documents__item-list-item-format-icon" width="24" height="24">
            </div>
          </a>
        </li>
        <li class="documents__item-list-item">
          <a href="#" class="documents__item-list-item-link" target="_blank">
            <div class="documents__item-list-item-name">Свидетельство о постановке на налоговый учёт</div>
            <div class="documents__item-list-item-format btn btn--without-shadow btn--white">
              <div class="documents__item-list-item-format-name">PDF</div>
              <img src="img/content/documents-icon.png" alt="" class="documents__item-list-item-format-icon" width="24" height="24">
            </div>
          </a>
        </li>
        <li class="documents__item-list-item">
          <a href="#" class="documents__item-list-item-link" target="_blank">
            <div class="documents__item-list-item-name">Устав благотворительной организации “Пари и побеждай”</div>
            <div class="documents__item-list-item-format btn btn--without-shadow btn--white">
              <div class="documents__item-list-item-format-name">PDF</div>
              <img src="img/content/documents-icon.png" alt="" class="documents__item-list-item-format-icon" width="24" height="24">
            </div>
          </a>
        </li>
        <li class="documents__item-list-item">
          <a href="#" class="documents__item-list-item-link" target="_blank">
            <div class="documents__item-list-item-name">Аудиторские заключения</div>
            <div class="documents__item-list-item-format btn btn--without-shadow btn--white">
              <div class="documents__item-list-item-format-name">PDF</div>
              <img src="img/content/documents-icon.png" alt="" class="documents__item-list-item-format-icon" width="24" height="24">
            </div>
          </a>
        </li>
        <li class="documents__item-list-item">
          <a href="#" class="documents__item-list-item-link" target="_blank">
            <div class="documents__item-list-item-name">Отчеты в минюст</div>
            <div class="documents__item-list-item-format btn btn--without-shadow btn--white">
              <div class="documents__item-list-item-format-name">PDF</div>
              <img src="img/content/documents-icon.png" alt="" class="documents__item-list-item-format-icon" width="24" height="24">
            </div>
          </a>
        </li>
        <li class="documents__item-list-item">
          <a href="#" class="documents__item-list-item-link" target="_blank">
            <div class="documents__item-list-item-name">Благотворительная программа</div>
            <div class="documents__item-list-item-format btn btn--without-shadow btn--white">
              <div class="documents__item-list-item-format-name">PDF</div>
              <img src="img/content/documents-icon.png" alt="" class="documents__item-list-item-format-icon" width="24" height="24">
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="documents__item">
      <h3 class="documents__item-title title-h33">реквизиты</h3>
      <div class="documents__item-info" data-accordion="parent">
        <div class="documents__item-info-card" data-accordion="element">
          <div class="documents__item-info-card-top" data-accordion="button">
            <img src="img/content/card-arrow.svg" alt="" class="documents__item-info-card-arrow" width="30" height="30">
            <div class="documents__item-info-card-title title-h4">РЕКВИЗИТЫ  ФОНДА</div>
          </div>
          <div class="documents__item-info-card-content" data-accordion="content">
            <ul>
              <li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li>
              <li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li><li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li><li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li><li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li><li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="documents__item-info-card" data-accordion="element">
          <div class="documents__item-info-card-top" data-accordion="button">
            <img src="img/content/card-arrow.svg" alt="" class="documents__item-info-card-arrow" width="30" height="30">
            <div class="documents__item-info-card-title title-h4">БАНКОВСКИЕ РЕКВИЗИТЫ</div>
          </div>
          <div class="documents__item-info-card-content" data-accordion="content">
            <ul>
              <li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li>
              <li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li><li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li><li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li><li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li><li>
                <p><b>Фирменное наименование:</b></p>
                <p>Благотворительный фонд</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="documents__item">
      <h3 class="documents__item-title title-h33">отчёты</h3>
      <div class="documents__reports" data-accordion="parent">
        <div class="documents__report" data-accordion="element">
          <div class="documents__report-top" data-accordion="button">
            <div class="documents__report-title">2024 год</div>
            <img src="img/content/card-arrow.svg" alt="" class="documents__report-arrow" width="30" height="30">
          </div>
          <div class="documents__report-content" data-accordion="content">
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
          </div>
        </div>
        <div class="documents__report" data-accordion="element">
          <div class="documents__report-top" data-accordion="button">
            <div class="documents__report-title">2024 год</div>
            <img src="img/content/card-arrow.svg" alt="" class="documents__report-arrow" width="30" height="30">
          </div>
          <div class="documents__report-content" data-accordion="content">
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
          </div>
        </div>
        <div class="documents__report" data-accordion="element">
          <div class="documents__report-top" data-accordion="button">
            <div class="documents__report-title">2024 год</div>
            <img src="img/content/card-arrow.svg" alt="" class="documents__report-arrow" width="30" height="30">
          </div>
          <div class="documents__report-content" data-accordion="content">
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
          </div>
        </div>
        <div class="documents__report" data-accordion="element">
          <div class="documents__report-top" data-accordion="button">
            <div class="documents__report-title">2024 год</div>
            <img src="img/content/card-arrow.svg" alt="" class="documents__report-arrow" width="30" height="30">
          </div>
          <div class="documents__report-content" data-accordion="content">
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
            <a href="#" class="documents__report-link" target="_blank">
              <div class="documents__report-link-top">
                <div class="documents__report-link-name">июнь 2024</div>
                <div class="documents__report-link-format btn btn--green">
                  <div class="documents__report-link-format-name">PDF</div>
                  <img class="documents__report-link-format-icon" src="img/content/documents-icon.png" alt="" width="24" height="24" />
                </div>
              </div>
              <div class="documents__report-link-description">Отчет хозяйственной деятельности БФ”Пари и Побеждай”</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>