<section class="friends">
  <div class="container">
    <h2 class="friends__title title-h1">друзья фонда</h2>
    <div class="friends__slider swiper">
      <div class="swiper-wrapper">
        <div class="friends__slide swiper-slide">
          <div class="friends__slide-photo-wrapper" style="color: var(--green)">
            <img src="img/content/friends-photo-1.png" alt="" class="friends__slide-photo" width="318" height="300">
          </div>
          <h3 class="friends__slide-name title-h3">Василий Артемьев</h3>
          <p class="friends__slide-description text-norm">Российский регбист, телеведущий</p>
        </div>
        <div class="friends__slide swiper-slide">
          <div class="friends__slide-photo-wrapper" style="color: var(--blue)">
            <img src="img/content/friends-photo-2.png" alt="" class="friends__slide-photo" width="318" height="300">
          </div>
          <h3 class="friends__slide-name title-h3">Василий Артемьев</h3>
          <p class="friends__slide-description text-norm">Российский регбист, телеведущий</p>
        </div>
        <div class="friends__slide swiper-slide">
          <div class="friends__slide-photo-wrapper" style="color: var(--yellow)">
            <img src="img/content/friends-photo-3.png" alt="" class="friends__slide-photo" width="318" height="300">
          </div>
          <h3 class="friends__slide-name title-h3">Ольга Петрикова</h3>
          <p class="friends__slide-description text-norm">Ведущая Матч ТВ</p>
        </div>
        <div class="friends__slide swiper-slide">
          <div class="friends__slide-photo-wrapper" style="color: var(--purple)">
            <img src="img/content/friends-photo-1.png" alt="" class="friends__slide-photo" width="318" height="300">
          </div>
          <h3 class="friends__slide-name title-h3">Михаил Сергачев</h3>
          <p class="friends__slide-description text-norm">Звезда НХЛ - статус по жизни</p>
        </div>
        <div class="friends__slide swiper-slide">
          <div class="friends__slide-photo-wrapper" style="color: var(--blue)">
            <img src="img/content/friends-photo-2.png" alt="" class="friends__slide-photo" width="318" height="300">
          </div>
          <h3 class="friends__slide-name title-h3">Василий Артемьев</h3>
          <p class="friends__slide-description text-norm">Российский регбист, телеведущий</p>
        </div>
        <div class="friends__slide swiper-slide">
          <div class="friends__slide-photo-wrapper" style="color: var(--yellow)">
            <img src="img/content/friends-photo-3.png" alt="" class="friends__slide-photo" width="318" height="300">
          </div>
          <h3 class="friends__slide-name title-h3">Ольга Петрикова</h3>
          <p class="friends__slide-description text-norm">Ведущая Матч ТВ</p>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation__btn swiper-navigation__btn--prev">
          <img src="img/content/swiper-btn-arrow.svg" alt="" class="swiper-navigation__btn-arrow" width="56" height="56">
        </button>
        <button class="swiper-navigation__btn swiper-navigation__btn--next">
          <img src="img/content/swiper-btn-arrow.svg" alt="" class="swiper-navigation__btn-arrow" width="56" height="56">
        </button>
      </div>
    </div>
  </div>
</section>