<section class="hello">
  <div class="container">
    <img src="img/content/hello-decor.png" alt="" class="hello__decor" width="443" height="447">
    <div class="hello__wrapper">
      <img src="img/content/hello-arrow.png" alt="" class="hello__arrow">
      <h1 class="hello__title title-h2">Развитие спортивной инфраструктуры и&nbsp;доступность спорта</h1>
      <p class="hello__description text-norm">
        Создаём условия для развития спорта, здорового образа жизни и создаём удобную и современной среды
      </p>
    </div>
  </div>
</section>