<div class="line">
  <div class="line__wrapper">
    <div class="line__content marquee-container">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
    <div class="line__content">
      <img src="img/content/bi.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
      <img src="img/content/by.png" alt="" class="line__icon" width="100" height="100">
      <div class="line__content-text">благотворительный фонд</div>
    </div>
  </div>
</div>