<section class="main-news">
  <div class="container">
    <h2 class="main-news__title title-h1">Новости</h2>
    <ul class="main-news__list">
      <li class="main-news__item">
        <img src="img/content/main-news-1.png" alt="" class="main-news__item-img">
        <h3 class="main-news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="main-news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="main-news__item-link btn btn--with-arrow btn--white">Читать подробнее</a>
      </li>
      <li class="main-news__item">
        <img src="img/content/main-news-2.png" alt="" class="main-news__item-img">
        <h3 class="main-news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="main-news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="main-news__item-link btn btn--with-arrow btn--white">Читать подробнее</a>
      </li>
      <li class="main-news__item">
        <img src="img/content/main-news-3.png" alt="" class="main-news__item-img">
        <h3 class="main-news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="main-news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="main-news__item-link btn btn--with-arrow btn--white">Читать подробнее</a>
      </li>
    </ul>
    <img src="img/content/main-news-decor.png" alt="" class="main-news__decor" width="500" height="453">
  </div>
</section>