<section class="mission">
  <div class="container">
    <div class="mission__wrapper">
      <img src="img/content/mission-decor-1.png" alt="" class="mission__decor" width="147" height="154">
      <img src="img/content/mission-decor-2.png" alt="" class="mission__decor" width="405" height="391">
      <h2 class="mission__title title-h1">Наша миссия</h2>
      <p class="mission__description">
        Мы хотим, чтобы спорт стал двигателем социальных изменений. Именно игра всегда объединяла людей вокруг общей цели, поэтому вместе мы можем помогать людям в трудных жизненных ситуациях, защищать природу и делать спорт доступным для каждого, независимо от обстоятельств.
      </p>
      <div class="mission__author text-norm">Алексей Бабичев, председатель совета фонда</div>
    </div>
  </div>
</section>