<section class="news-detail">
  <div class="container">
    <div class="news-detail__header">
      <img src="img/content/news.png" alt="" class="news-detail__img" width="304" height="338">
      <div class="news-detail__header-text">
        <div class="news-detail__info">
          <span class="news-detail__date">02.05.2024</span>
          <span class="news-detail__author">Автор: Иван Иванов</span>
        </div>
        <h1 class="news-detail__title title-h1">Lorem ipsum dolor sit amet consectetur.</h1>
      </div>
    </div>
    <div class="news-detail-content">
      <p>Lorem ipsum dolor sit amet consectetur. Vitae ut eget eget rhoncus eget mi. Senectus suspendisse vitae id in. Dui varius tortor non rhoncus id mauris bibendum urna nunc. Posuere enim ligula sed pellentesque. Nisl mi arcu quis id tellus. A nunc lectus faucibus sed quam ullamcorper tristique magna egestas. Fusce feugiat mauris turpis dignissim volutpat lacinia. Sed amet porttitor purus rhoncus neque velit vel. Cras tellus sed eget bibendum convallis maecenas pharetra. Montes nunc feugiat nisl dictum. Tincidunt pharetra pulvinar feugiat mattis lorem. Egestas amet rhoncus fringilla duis cursus semper. Dolor tortor in ornare egestas placerat mauris. Mi amet aliquet ac dolor ipsum imperdiet.</p>
      <p>Consectetur senectus sed ultricies imperdiet sed at sit tellus nunc. Congue praesent fringilla sed at pharetra euismod. Dolor quam quam arcu donec posuere dui at feugiat nunc. Eget quam neque fermentum dui fames egestas donec. Sit adipiscing tristique ornare et. Sed nisi mauris semper at tincidunt amet laoreet. Tincidunt augue dictum integer neque. Ultricies morbi quam tellus massa quam sed volutpat. Quis habitasse aliquam fermentum cras tempus bibendum pretium nulla. Urna quis eu odio libero sed purus sed egestas. Sem porttitor ullamcorper curabitur in non. Ipsum pretium odio tempor mattis platea risus. Molestie duis pellentesque laoreet neque leo sit quis purus a. In viverra blandit condimentum massa sapien purus adipiscing tristique. Sed phasellus placerat ullamcorper facilisis eros.</p>
      <p>Nam egestas gravida eu semper quam. Faucibus duis porta maecenas semper aliquet sit amet nec. Quam integer aenean feugiat sed posuere adipiscing. In et id arcu leo tortor maecenas tortor. Tortor aliquam at ultrices tellus ultricies dignissim. Quisque nec ornare eget viverra lacus lorem tortor. Lorem adipiscing id consectetur augue elit lorem sed. Turpis sem suspendisse et venenatis eget ultricies sed. Aliquet congue eget consectetur urna.</p>
      <p>Id id ultricies velit sapien. Ut magna risus odio placerat enim diam. Scelerisque tortor porttitor cras sed tempus. Nulla enim blandit amet dictumst elit. Aliquam sit ullamcorper tristique odio nunc morbi est. Tortor elementum vulputate elit venenatis tincidunt integer id faucibus. Pellentesque suspendisse vel augue placerat gravida proin ut.</p>
      <p>Habitasse facilisis at dui consectetur commodo ullamcorper vulputate. Neque imperdiet nibh lectus ornare pretium turpis. A euismod gravida cras nunc mauris. Lectus libero nunc massa amet. Imperdiet maecenas quisque a ornare interdum scelerisque.
      Turpis ullamcorper ipsum aliquet urna mauris malesuada urna curabitur. Ornare luctus risus nec diam lectus aliquam. Eu condimentum donec consectetur eu vulputate fringilla. Vivamus consequat aliquam faucibus eget. Scelerisque sem dignissim urna elementum netus tristique. Dolor viverra at velit diam metus.</p>

      <h2>Mauris tellus risus condimentum gravida massa. Nunc aenean risus vitae purus in faucibus nec a. Sem morbi sit turpis facilisis adipiscing non ac nulla nulla. Non et pretium tellus viverra et lacinia sagittis. Porttitor in posuere id vulputate at nunc odio nibh molestie. </h2>

      <figure>
        <p><img src="img/content/news-placeholder.png" alt="Donec non est viverra ipsum aliquet consectetur"></p>
        <figcaption>Donec non est viverra ipsum aliquet consectetur</figcaption>
      </figure>

      <p>Id id ultricies velit sapien. Ut magna risus odio placerat enim diam. Scelerisque tortor porttitor cras sed tempus. Nulla enim blandit amet dictumst elit. Aliquam sit ullamcorper tristique odio nunc morbi est. Tortor elementum vulputate elit venenatis tincidunt integer id faucibus. Pellentesque suspendisse vel augue placerat gravida proin ut.</p>
      <p>Habitasse facilisis at dui consectetur commodo ullamcorper vulputate. Neque imperdiet nibh lectus ornare pretium turpis. A euismod gravida cras nunc mauris. Lectus libero nunc massa amet. Imperdiet maecenas quisque a ornare interdum scelerisque.
      Turpis ullamcorper ipsum aliquet urna mauris malesuada urna curabitur. Ornare luctus risus nec diam lectus aliquam. Eu condimentum donec consectetur eu vulputate fringilla. Vivamus consequat aliquam faucibus eget. Scelerisque sem dignissim urna elementum netus tristique. Dolor viverra at velit diam metus.</p>

      <div class="gallery">
        <figure>
          <p><img src="img/content/news-placeholder.png" alt="Donec non est viverra ipsum aliquet consectetur"></p>
          <figcaption>Donec non est viverra ipsum aliquet consectetur</figcaption>
        </figure>
        <figure>
          <p><img src="img/content/news-placeholder.png" alt="Donec non est viverra ipsum aliquet consectetur"></p>
          <figcaption>Donec non est viverra ipsum aliquet consectetur</figcaption>
        </figure>
        <figure>
          <p><img src="img/content/news-placeholder.png" alt="Donec non est viverra ipsum aliquet consectetur"></p>
          <figcaption>Donec non est viverra ipsum aliquet consectetur</figcaption>
        </figure>
        <figure>
          <p><img src="img/content/news-placeholder.png" alt="Donec non est viverra ipsum aliquet consectetur"></p>
          <figcaption>Donec non est viverra ipsum aliquet consectetur</figcaption>
        </figure>
      </div>




    </div>
  </div>
</section>