<section class="news">
  <div class="container">
    <h1 class="news__title title-h1">новости</h1>
    <div class="news__items">
      <div class="news__item">
        <img src="img/content/main-news-1.png" alt="" class="news__item-img">
        <h3 class="news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="news__item-divnk btn btn--with-arrow btn--white">Читать подробнее</a>
      </div>
      <div class="news__item">
        <img src="img/content/main-news-2.png" alt="" class="news__item-img">
        <h3 class="news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="news__item-divnk btn btn--with-arrow btn--white">Читать подробнее</a>
      </div>
      <div class="news__item">
        <img src="img/content/main-news-3.png" alt="" class="news__item-img">
        <h3 class="news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="news__item-divnk btn btn--with-arrow btn--white">Читать подробнее</a>
      </div>
      <div class="news__item">
        <img src="img/content/main-news-1.png" alt="" class="news__item-img">
        <h3 class="news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="news__item-divnk btn btn--with-arrow btn--white">Читать подробнее</a>
      </div>
      <div class="news__item">
        <img src="img/content/main-news-2.png" alt="" class="news__item-img">
        <h3 class="news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="news__item-divnk btn btn--with-arrow btn--white">Читать подробнее</a>
      </div>
      <div class="news__item">
        <img src="img/content/main-news-3.png" alt="" class="news__item-img">
        <h3 class="news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="news__item-divnk btn btn--with-arrow btn--white">Читать подробнее</a>
      </div>
      <div class="news__item">
        <img src="img/content/main-news-1.png" alt="" class="news__item-img">
        <h3 class="news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="news__item-divnk btn btn--with-arrow btn--white">Читать подробнее</a>
      </div>
      <div class="news__item">
        <img src="img/content/main-news-2.png" alt="" class="news__item-img">
        <h3 class="news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="news__item-divnk btn btn--with-arrow btn--white">Читать подробнее</a>
      </div>
      <div class="news__item">
        <img src="img/content/main-news-3.png" alt="" class="news__item-img">
        <h3 class="news__item-title title-h4">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="news__item-description">Lorem ipsum dolor sit amet consectetur. Nec est malesuada scelerisque</p>
        <a href="#" class="news__item-divnk btn btn--with-arrow btn--white">Читать подробнее</a>
      </div>
    </div>
    <button class="news__more">Показать еще</button>
  </div>
</section>