<section class="partners">
  <div class="container">
    <h2 class="partners__title title-h1">НАШИ ПАРТНЕРЫ</h2>
    <img src="img/content/partners-decor.png" alt="" class="partners__decor" width="389" height="389">
    <ul class="partners__list">
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-1.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-2.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-3.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-4.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-1.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-2.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-3.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-4.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-1.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-2.png" alt="" class="partners__item-img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__item-link">
          <img src="img/content/partner-3.png" alt="" class="partners__item-img">
        </a>
      </li>
    </ul>
  </div>
</section>