<section class="programs">
  <div class="container">
    <h2 class="programs__title title-h1">программы</h2>
    <ul class="programs__cards cards" data-accordion="parent" data-single>
      <li class="card is-active" data-accordion="element">
        <h3 class="card__title title-h3" data-accordion="button">Развитие спортивной инфраструктуры и&nbsp;доступность спорта</h3>
        <img src="img/content/card-photo-1.png" alt="" class="card__photo card__photo--desktop" width="500" height="330">
        <div class="card__content" data-accordion="content">
          <img src="img/content/card-photo-1.png" alt="" class="card__photo card__photo--mobile" width="500" height="330">
          <p class="card__description text-norm">Создаём условия для развития спорта, здорового образа жизни и создаём удобную и современной среды</p>
          <a href="#" class="card__link btn btn--white btn--without-shadow">Подробнее</a>
        </div>
      </li>
      <li class="card" data-accordion="element">
        <h3 class="card__title title-h3" data-accordion="button">Помощь спортсменам в трудной жизненной ситуации</h3>
        <img src="img/content/card-photo-1.png" alt="" class="card__photo card__photo--desktop" width="500" height="330">
        <div class="card__content" data-accordion="content">
          <img src="img/content/card-photo-1.png" alt="" class="card__photo card__photo--mobile" width="500" height="330">
          <p class="card__description text-norm">Создаём условия для развития спорта, здорового образа жизни и создаём удобную и современной среды</p>
          <a href="#" class="card__link btn btn--white btn--without-shadow">Подробнее</a>
        </div>
      </li>
      <li class="card" data-accordion="element">
        <h3 class="card__title title-h3" data-accordion="button">Поддержка местных благотворительных проектов</h3>
        <img src="img/content/card-photo-1.png" alt="" class="card__photo card__photo--desktop" width="500" height="330">
        <div class="card__content" data-accordion="content">
          <img src="img/content/card-photo-1.png" alt="" class="card__photo card__photo--mobile" width="500" height="330">
          <p class="card__description text-norm">Создаём условия для развития спорта, здорового образа жизни и создаём удобную и современной среды</p>
          <a href="#" class="card__link btn btn--white btn--without-shadow">Подробнее</a>
        </div>
      </li>
      <li class="card" data-accordion="element">
        <h3 class="card__title title-h3" data-accordion="button">Зеленые инициативы</h3>
        <img src="img/content/card-photo-1.png" alt="" class="card__photo card__photo--desktop" width="500" height="330">
        <div class="card__content" data-accordion="content">
          <img src="img/content/card-photo-1.png" alt="" class="card__photo card__photo--mobile" width="500" height="330">
          <p class="card__description text-norm">Создаём условия для развития спорта, здорового образа жизни и создаём удобную и современной среды</p>
          <a href="#" class="card__link btn btn--white btn--without-shadow">Подробнее</a>
        </div>
      </li>
    </ul>
    <img src="img/content/programs-decor.png" alt="" class="programs__decor" width="395" height="400">
  </div>
</section>