<section class="projects">
  <div class="container">
    <h2 class="projects__title title-h2">проекты</h2>
    <div class="projects__cards">
      <div class="projects__card">
        <img src="img/content/projects-card-1.png" alt="" class="projects__card-img" width="316" height="300">
        <div class="projects__card-text">
          <h3 class="projects__card-title title-h33">Копилка успехов</h3>
          <p class="projects__card-description text-norm">Старт — осень 2024</p>
        </div>
      </div>
      <div class="projects__card">
        <img src="img/content/projects-card-1.png" alt="" class="projects__card-img" width="316" height="300">
        <div class="projects__card-text">
          <h3 class="projects__card-title title-h33">Копилка успехов</h3>
          <p class="projects__card-description text-norm">Старт — осень 2024</p>
        </div>
      </div>
      <div class="projects__card">
        <img src="img/content/projects-card-1.png" alt="" class="projects__card-img" width="316" height="300">
        <div class="projects__card-text">
          <h3 class="projects__card-title title-h33">Копилка успехов</h3>
          <p class="projects__card-description text-norm">Старт — осень 2024</p>
        </div>
      </div>
    </div>
  </div>
</section>