<section class="welcome">
  <div class="container">
    <h1 class="welcome__title">Благотворительный фонд</h1>
    <img src="img/content/welcome-logo.png" alt="" class="welcome__logo" width="1360" height="283">
    <div class="welcome__wrapper">
      <button class="welcome__toggler">
        <img src="img/content/welcome-toggler-icon.png" alt="" class="welcome__toggler-icon" width="127" height="138">
        <span class="welcome__toggler-text">включить силу фонда</span>
        <span class="welcome__toggler-active-text">сила фонда включена</span>
      </button>
      <div class="welcome__photo-wrapper">
        <img src="img/content/welcome-photo-1.png" alt="" class="welcome__photo" width="270" height="465">
        <img src="img/content/welcome-photo-1-active.png" alt="" class="welcome__active-photo" width="270" height="465">
      </div>
      <div class="welcome__photo-wrapper">
        <img src="img/content/welcome-photo-2.png" alt="" class="welcome__photo" width="270" height="465">
        <img src="img/content/welcome-photo-2-active.png" alt="" class="welcome__active-photo" width="270" height="465">
      </div>
      <div class="welcome__photo-wrapper">
        <img src="img/content/welcome-photo-3.png" alt="" class="welcome__photo" width="270" height="465">
        <img src="img/content/welcome-photo-3-active.png" alt="" class="welcome__active-photo" width="270" height="270">
      </div>
      <div class="welcome__photo-wrapper">
        <img src="img/content/welcome-photo-4.png" alt="" class="welcome__photo" width="270" height="465">
        <img src="img/content/welcome-photo-4-active.png" alt="" class="welcome__active-photo" width="270" height="270">
      </div>
    </div>
  </div>
</section>