<section class="whom">
  <div class="container">
    <h2 class="whom__title title-h2">кому помогаем</h2>
    <div class="whom__card">
      <h3 class="whom__card-title title-h3">СПОРТИВНЫМ ШКОЛАМ</h3>
      <img src="img/content/whom-card-1.png" alt="" class="whom__card-img" width="897" height="280">
    </div>
    <div class="whom__card whom__card--big">
      <h3 class="whom__card-title title-h3">КЛУБАМ ПО ВСЕЙ РОССИИ</h3>
      <img src="img/content/whom-card-2.png" alt="" class="whom__card-img" width="1360" height="280">
    </div>
    <p class="whom__description text-norm">
      В 2024 году мы принимаем заявки на поддержку от зарегистрированных НКО из Москвы, Нижнего Новгорода, Ростова на Дону, Екатеринбурга, Владивостока, Нижнекамска и Тулы. 
    </p>
    <div class="whom__card">
      <h3 class="whom__card-title title-h3">ПРОФИЛЬНЫМ НКО</h3>
      <img src="img/content/whom-card-3.png" alt="" class="whom__card-img" width="897" height="280">
    </div>
  </div>
</section>